<!doctype html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
</head>
<body>
  <p>Hi <%= @user.first_name %>,</p>
  <p>Thank you for coming to General Assembly's Meet and Greet, and checking out my portfolio! It was great getting to know you a bit and learning more about your company. If you're interested in learning more check out my portfolio at <a href="<%= @website %>">stayman.co</a>, and feel free to shoot me a message any time. <br>My contact information can be found below: </p>
  <p>Zachary Stayman <br>(203) 247-0080 <br>zack@stayman.co</p>
  <p>I look forward to hearing from you soon.</p>
  <p>Best,</p><br>
  <p>Zack Stayman</p>

</body>
</html>
