<!doctype html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
</head>
<body>
  <p>Dear <%= @user.first_name %>,</p>
  <p>Thank you for coming to General Assembly's Meet and Greet, and checking out my portfolio! It was great getting to know you a bit and learn more about your company. If you would like to speak further check out my portfolio here: <a href="<%= @website %>">website</a>, and shoot me a message any time, at zack@stayman.co. I have also attached my contact information to this email. </p>
  <p>I look forward to hearing from you soon.</p>
  <p>Best,</p><br>
  <p>Zack Stayman</p>

</body>
</html>
