<!doctype html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
</head>
<body>
  <p>Dear <%= @user.first_name %>,</p>
  <p>Thank you for coming to General Assembly's Meet and Greet. It was great to meet you and to have a chance to show you the work that I have done. If you would like to see more you can see my portfolio at my <a href="<%= @url %>">website</a>.</p>
</body>
</html>
